html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-ghost: #DFDFDF;
	--gray-medium: #787D85;
	--white: #FFF;
	--primary: #3160FA;
	--primary-hover: #224DDA;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--blue-light: #F9F8FF;
	--font-family: 'Noto Sans', sans-serif;
	--transition-default: all 0.1s linear;
	--breakpoint-mobile: 768px;
}

::selection {
	color: var(--white);
	background: var(--primary);
}
